<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.mapper.UserMapper">
    <select id="selectByUserName" resultType="com.demo.entity.User">
        select id,userName,password
        from t_user where username = #{userName}
    </select>
    <select id="selectAllRoleByUserId" resultType="String">
        select r.name as name from t_role_user u,t_role r where r.id = u.rid and u.uid=#{userId};
    </select>
</mapper>